.place__like-button_active {
  background: white url(../../../images/like-button.svg) no-repeat center;
  fill: black;
  transition: opacity .4s;
}

@media screen and (min-width: 1280px) {
  .place__like-button:hover {
    opacity: .5;
    cursor: pointer;
  }
}