.form__button_type_submit-changes {
  border: none;
  padding: 14px 0;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2px;
}

@media screen and (min-width: 1024px) {
  .form__button_type_submit-changes {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .form__button_type_submit-changes {
    transition: opacity .4s;
  }

  .form__button_type_submit-changes:hover {
    opacity: .8;
    cursor: pointer;
  }
}