.place__button_like {
  background: none;
  border: none;
  padding: 0;
  width: 22px;
  height: 19px;
  transition: opacity .4s;
}

@media screen and (min-width: 1280px) {
  .place__button_like:hover {
    opacity: .5;
    cursor: pointer;
  }
}
